MOCK_MODE=true
WOOCOMMERCE_URL=
WOOCOMMERCE_KEY=
WOOCOMMERCE_SECRET=

AUTH_SECRET=
NEXTAUTH_URL=http://localhost:3000

AUTH_USER_1_EMAIL=
AUTH_USER_1_PASSWORD=
AUTH_USER_1_NAME=
AUTH_USER_1_ROLE=admin

AUTH_USER_2_EMAIL=
AUTH_USER_2_PASSWORD=
AUTH_USER_2_NAME=
AUTH_USER_2_ROLE=editor
